---
import ThemeToggler from "./ui/ThemeToggler.astro";
---

<div class="navbar bg-base-300 w-3/4 mx-auto mt-3 rounded-lg">
    <div class="flex-1">
        <a class="btn btn-ghost text-3xl"
            >🧠<span class="animate-bounce">🚗</span></a
        >
    </div>
    <div class="flex-none">
        <ThemeToggler />
    </div>
</div>
